[submodule "lwIP"]
	path = lwIP
	url = https://github.com/IntergatedCircuits/lwip.git
[submodule "USBDevice"]
	path = USBDevice
	url = https://github.com/IntergatedCircuits/USBDevice.git
[submodule "STM32_XPD"]
	path = STM32_XPD
	url = https://github.com/IntergatedCircuits/STM32_XPD.git
[submodule "lwip-contrib"]
	path = lwip-contrib
	url = git://git.savannah.nongnu.org/lwip/lwip-contrib.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/cjlano/freertos.git
